@model mittprojekt.Models.Weather
@{
    ViewBag.Title = "Väderdata";
}

<h2>Index</h2>
@Html.ActionLink("Gå tillbaka och välj ny stad", "Index", "Home") <!--link back to the first page-->


<p>Temperaturen i vellinge är: @Model.Temperature</p>
<p>fuktighet @Model.Humidity %</p>
<p>lufttryck @Model.airpressure hpa</p>
<p>vindhastighet @Model.windspeed mps</p> 

 
